@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


body {
  margin: 0;
}

h1{
  color:red;
}

